{% extends "oturum/base.html" %}
{% block content %}
<div class="row justify-content-center mt-7">
        <div class="col-md text-center">
            <div class="col-md-0">
                <div class="card card-body">
                    <br>
                    <h3>Sınav Analizi </h3>
                    <br>

                    <div class="row">
                        <div class="col">
                                <div class="col-md-0">
                                    <div class="card text-center text-black  mb-3" id="">
                                        <div class="card-header">
                                            <h6 class="card-title">Toplam Öğrenci</h6>
                                        </div>
                                        <div class="card-body">
                                            <h3 class="card-title">{{ ogrenci_sayisi }}</h3>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col">
                                <div class="col-md-0">
                                    <div class="card text-center text-black  mb-3" id="">
                                        <div class="card-header">
                                            <h6 class="card-title">Başarılı Öğrenci</h6>
                                        </div>
                                        <div class="card-body">
                                            <h3 class="card-title">{{ basarili_sayisi }}</h3>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col">
                                <div class="col-md-0">
                                    <div class="card text-center text-black  mb-3" id="">
                                        <div class="card-header">
                                            <h6 class="card-title">Sınav Ortalaması</h6>
                                        </div>
                                        <div class="card-body">
                                            <h3 class="card-title">{{ ortalama }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col-md-0">
                                    <div class="card text-center text-black  mb-3" id="">
                                        <div class="card-header">
                                            <h6 class="card-title">Medyan (Ortanca)</h6>
                                        </div>
                                        <div class="card-body">
                                            <h3 class="card-title">{{ ortanca_değer }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col-md-0">
                                    <div class="card text-center text-black  mb-3" id="">
                                        <div class="card-header">
                                            <h6 class="card-title">Standart Sapma</h6>
                                        </div>
                                        <div class="card-body">
                                            <h3 class="card-title">{{ standart_sapma }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col-md-0">
                                    <div class="card text-center text-black  mb-3" id="">
                                        <div class="card-header">
                                            <h6 class="card-title">En Yüksek Not</h6>
                                        </div>
                                        <div class="card-body">
                                            <h3 class="card-title">{{ max_not }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="col-md-0">
                                    <div class="card text-center text-black  mb-3" id="">
                                        <div class="card-header">
                                            <h6 class="card-title">En Düşük Not</h6>
                                        </div>
                                        <div class="card-body">
                                            <h3 class="card-title">{{ min_not }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <table class="table table-sm table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th>No</th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            {% for i in sorusayilist%}
                                <th>Soru {{ i }}</th>
                            {% endfor %}
                            <th>Doğru Sayısı</th>
                            <th>Yanlış Sayısı</th>
                            <th>Notu</th>
                        </tr>
                        </thead>
                        <tr class="active">
                            {% for cell in cevap_kagidi %}
                                <td>
                                    {{ cell }}
                                </td>
                            {% endfor %}
                        </tr>
                            {% for ogrenci in sinav_rapor %}
                                <tr>
                                {% for cell in ogrenci %}
                                    {% if forloop.counter > 3 and forloop.counter <= sorusayisi %}
                                        <td>
                                        {% if cell == '0'%}
                                            BOŞ
                                        {% elif cell == '1' %}
                                            A
                                        {% elif cell == '2' %}
                                            B
                                        {% elif cell == '3' %}
                                            C
                                        {% elif cell == '4' %}
                                            D
                                        {% elif cell == '5' %}
                                            E
                                        {% else %}
                                            {{ cell }}
                                        {% endif %}
                                        </td>
                                    {% else %}
                                        <td>{{ cell }}</td>
                                    {% endif %}
                                {% endfor %}
                                </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
</div>
    <div class="row justify-content-center mt-7">
        <div class="col-md text-center">
            <div class="col-md-0">
                <div class="card card-body">
                    <h3>Soru Analizi</h3>
                    <table class="table table-sm table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Soru No</th>
                            <th>Soru Kazanım</th>
                            <th>Madde Güçlük İndeksi</th>
                            <th>Doğru Cevaplayan Sayısı</th>
                            <th>Yanlış Cevaplayan Sayısı</th>
                            <th>Boş Bırakan Sayısı</th>
                        </tr>
                    </thead>
                        {% for no,kazanim,gucluk,dogru,yanlis,bos in soru_rapor %}
                            <tr>
                                <td>{{ no }}</td>
                                <td>{{ kazanim }}</td>
                                <td>{{ gucluk }}</td>
                                <td>{{ dogru }}</td>
                                <td>{{ yanlis }}</td>
                                <td>{{ bos }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
    <div class="row">
        <div class="col">
            <div class="col-md-0">
                <div class="card text-center text-black  mb-3" id="">
                    <div class="card-body">
                        <img src="data:image/png;base64,{{ basari_grafik }}" alt="" height="300">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md-0">
                <div class="card text-center text-black  mb-3" id="">
                    <div class="card-body">
                        <img src="data:image/png;base64,{{ basari_grafik }}" alt="" height="300">
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
{% endblock content%}
