{% extends "oturum/base.html" %}
{% block content %}
<br>
    <br>
    <br>
    <br>
    
<div class="row justify-content-center mt-5">
    <div class="col-md-0 text-center">
        
        <div class="card text-center text-black  mb-5" id="">
                                                            <div class="card-header">
                                                                <h5 class="card-title">Masa üstü uygulaması için kullanılacak anahtar</h5>
                                                            </div>
                                                            <div class="card-body">
                                                                <h6 class="card-title">{{ anahtar }}</h6>
                                                            </div>
                                                        </div>
    </div>


</div>

{% endblock content%}