{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sınav Karnesi{{sinav_adi}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }

        th, td {
          text-align: left;
          padding: 2px;
        }
    </style>
</head>
<body>
<h3>Sınav Karnesi-{{sinav_adi}} </h3>
<div>
    <table>
        <tr>
            <th>Sınav Puanım</th>
            <th>En Yüksek Puan</th>
            <th>En Düşük Puan</th>
            <th>Sınav Ortalaması</th>
        </tr>
        <tr>
            <td>{{ ogr_puan }}</td>
            <td>{{ max_not }}</td>
            <td>{{ min_not }}</td>
            <td>{{ ortalama }}</td>
        </tr>
    </table>
</div>

<div>
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>Adı</th>
            <th>Soyadı</th>
            {% for i in sorusayilist%}
                <th>Soru {{ i }}</th>
            {% endfor %}
            <th>Doğru Sayısı</th>
            <th>Yanlış Sayısı</th>
            <th>Notu</th>
        </tr>
        </thead>
        <tr>
            {% for cell in cevap_kagidi %}
                <td>
                    {{ cell }}
                </td>
            {% endfor %}
        </tr>
            <tr>
                {% for cell in ogr_cevaplari %}
                    {% if forloop.counter > 3 and forloop.counter <= sorusayisi %}
                        <td>
                            {% if cell == 0%}
                                BOŞ
                            {% elif cell == 1 %}
                                A
                            {% elif cell == 2 %}
                                B
                            {% elif cell == 3 %}
                                C
                            {% elif cell == 4 %}
                                D
                            {% elif cell == 5 %}
                                E
                            {% else %}
                                {{ cell }}
                            {% endif %}
                        </td>
                    {% else %}
                        <td>{{ cell }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
    </table>
</div>
</body>
</html>

