{% extends "oturum/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">
                  <h2>Öğrenci Sayfasına Hoşgeldiniz.</h2>
                 <h4>Yukarıdaki menüden istediğiniz işlemleri yapabilirsiniz..</h4>
        </div>
        <div class="col-md-7 text-center">
               <div class="alert alert-success" role="alert">
  Optik Forma kodlyacağınız Id: {{request.user.id}}
</div>   
        </div>
    

{% endblock %}
