{% extends "oturum/base.html" %}
{% block content %}

<div class="row justify-content-center mt-7">
        <div class="col-md text-center">
            <div class="col-md-0">
                {% if hata%}
                    <div class="col-md text-center">
                            <div class="col-md-0">
                                <div class="card card-body">
                                    <h4>Öğrenci sonuçları, sınav soru kazanımları veya soruların doğru cevap değeri girilmemiş.</h4>
                                </div>
                            </div>
                    </div>
                {% else %}
                    <a target="_blank" class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'ogrpdfal' sinav_id %}">PDF Al</a>
                        <div class="card card-body">
                            <br>
                            <h3>Sınav Karnesi ({{ sinav_adi }})</h3>
                            <br>
                                        <div class="row">
                                            <div class="col">
                                                    <div class="col-md-0">
                                                        <div class="card text-center text-black  mb-3" id="">
                                                            <div class="card-header">
                                                                <h6 class="card-title">Sınav Puanım</h6>
                                                            </div>
                                                            <div class="card-body">
                                                                <h3 class="card-title">{{ ogr_puan }}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="col">
                                                <div class="col-md-0">
                                                    <div class="card text-center text-black  mb-3" id="">
                                                        <div class="card-header">
                                                            <h6 class="card-title">En Yüksek Puan</h6>
                                                        </div>
                                                        <div class="card-body">
                                                            <h3 class="card-title">{{ max_not }}</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="col-md-0">
                                                    <div class="card text-center text-black  mb-3" id="">
                                                        <div class="card-header">
                                                            <h6 class="card-title">En Düşük Puan</h6>
                                                        </div>
                                                        <div class="card-body">
                                                            <h3 class="card-title">{{ min_not }}</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="col-md-0">
                                                    <div class="card text-center text-black  mb-3" id="">
                                                        <div class="card-header">
                                                            <h6 class="card-title">Sınav Ortalaması</h6>
                                                        </div>
                                                        <div class="card-body">
                                                            <h3 class="card-title">{{ ortalama }}</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            <div>
                                        <table class="table table-sm table-hover">
                                            <thead class="thead-light">
                                            <tr>
                                                <th>#</th>
                                                <th>Adı</th>
                                                <th>Soyadı</th>
                                                {% for i in sorusayilist%}
                                                    <th>Soru {{ i }}</th>
                                                {% endfor %}
                                                <th>DS</th>
                                                <th>YS</th>
                                                <th>Notu</th>
                                            </tr>
                                            </thead>
                                            <tr class="bg-success">
                                                {% for cell in cevap_kagidi %}
                                                    <td>
                                                        {{ cell }}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                                    <tr>
                                                    {% for cell in ogr_cevaplari %}
                                                        {% if forloop.counter > 3 and forloop.counter <= sorusayisi %}
                                                            <td>
                                                            {% if cell == 0%}
                                                                BOŞ
                                                            {% elif cell == 1 %}
                                                                A
                                                            {% elif cell == 2 %}
                                                                B
                                                            {% elif cell == 3 %}
                                                                C
                                                            {% elif cell == 4 %}
                                                                D
                                                            {% elif cell == 5 %}
                                                                E
                                                            {% else %}
                                                                {{ cell }}
                                                            {% endif %}
                                                            </td>
                                                        {% else %}
                                                            <td>{{ cell }}</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </tr>
                                        </table>
                                    </div>
                        </div>
                {% endif %}
            </div>
        </div>
</div>
{% endblock content%}
