{% extends "oturum/base.html" %}
{% block content %}
<br>
<div class="row justify-content-center mt-7">
        <div class="col-md text-center">
            <div class="col-md-0">
                <div class="card card-body">
                    {% if not bosMu %}
                    <h3>Sınavlarım</h3>
                    {% endif %}
                    <table class="table table-sm">
                    {% if not bosMu %}
                        <tr>
                            <th>Sınav Kodu</th>
                            <th>Oluşturulma</th>
                            <th>Sınav Adı</th>
                            <th>Analiz Raporu</th>
                        </tr>
                        {% for i in icerik %}
                            <tr>
                                <td>{{ i.sinav.id }}</td>
                                <td>{{ i.sinav.olusturulmatarihi }}</td>
                                <td>{{ i.sinav.baslik }}</td>
                                <td><a class="btn btn-sm btn-info" href="{% url 'ogrraporal' i.sinav.id %}">Al</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h4>Üzerinizde tanımlı sınav sınav bulunmamaktadır. Lütfen sınav ekleyiniz!</h4>
                    {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}
